.summarytext {
    font-family:'Times New Roman', Times, serif; 
    font-size: medium;
    overflow-y: scroll;
}

.summarytitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}