.summarytext {
    font-family:'Times New Roman', Times, serif; 
    font-size: medium;
}

.summarytitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}

.icon-with-space {
    margin-top: 8px;
    vertical-align: middle; /* Adjust the value as needed */
  }

  .narrativeTabIcon {
    vertical-align: middle;
    scale: 80%;
  }